.advantages {
  width: 100%;
  background-color: hsl(0, 0%, 95%);

  @media (min-width: $desktop) {
    //height: 750px;
  }
}

.advanteges__container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.advanteges__crop-wrapper {
  width: 100%;
  padding-bottom: 20px;
  background-color: $menu-color;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.advanteges__intro {
  margin: 41px;
  text-align: center;

  @include font-options(24px, 29px, 300, $slider-color);

  @media (min-width: $tablet) {
    @include font-options(40px, 54px, 300, $slider-color);
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    @include font-options(50px, 68px, 300, $slider-color);
    margin: 0 auto;
  }
}

.advanteges__intro-top {
  @media (min-width: $tablet) {
    width: 100%;
    padding-top: 58px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding-top: 77px;
  }
}

.advanteges__intro-bottom {
  @media (min-width: $tablet) {
    width: 350px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    padding-bottom: 72px;
  }
}

.advantages__list {
  padding: 20px 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet) {
    width: 50%;
    margin: 0;
    padding-right: 20px;
    align-self: flex-end;

    &::after {
      content: url("../img/advanteges-tablet.png");
      position: absolute;
      top: -50px;
      left: -260px;
    }
  }

  @media (min-width: $desktop) {
    width: 940px;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-self: center;

    &::after {
      display: none;
    }
  }
}

.advantages__item-wrapper {
  @media (min-width: $desktop) {
    position: relative;
    background-color: hsl(0, 0%, 95%);
    top: -100px;
    padding: 30px;
    box-shadow: 0 -6px 10px -12px rgba(0, 0, 0, 0.7);
  }
}

.advantages__item--friends::after {
  content: url("../img/advanteges-mobile.png");
  position: absolute;
  left: calc(50% - 78px);

  @media (min-width: $tablet) {
    display: none;
  }
}

.advantages__list:last-child {
  margin-bottom: 325px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.advantages__title {
  @include mobile-title;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;

    @include font-options(30px, 30px, bold, hsl(0, 0%, 0%));
  }
}

.advantages__description {
  @include mobile-text;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;

    @include font-options(18px, 30px, normal, $slider-color);
  }
}

@media (min-width: $desktop) {
  .advantages__item {
    position: relative;
    top: -70px;
  }

  .advantages__item--mood::before {
    content: url("../img/advanteges-desctop-grey.png");
    padding-left: calc(50% - 93px);
  }

  .advantages__item--changes::before {
    content: url("../img/advanteges-desctop-pink.png");
    padding-left: calc(50% - 93px);
  }

  .advantages__item--friends::before {
    content: url("../img/advanteges-desctop-smile.png");
    padding-left: calc(50% - 93px);
  }
}
