.button {

}

.button--download {
  @include font-options(18px, 18px, 700, $menu-color);
  background-color: hsl(213, 26%, 15%);
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  border: 3px solid $menu-color;
  border-radius: 29px;
}
