.button {
  font-size: 18px;
  font-weight: 700;
}

.button--form {
  @include button-form;
  background-color: $form-button-color;
  border-radius: $radius;
  cursor: pointer;

  &:hover {
    background-color: $form-button-color-hover;
  }

  &:active {
    background-color: $form-button-color-hover;
    color: hsl(0, 0%, 100%, 0.3);
  }

  &:disabled {
    background-color: $input-color;
  }

  @media (min-width: $tablet) {
    width: 296px;
  }
}

.button--download {
  @include button-oval;
  color: $menu-color;
  border-color: $menu-color;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $menu-color;
    color: $menu-color-active;
    transition-duration: 0.3s;
  }

  &:active {
    background-color: $menu-color;
    color: hsl(344, 68%, 49%, 0.3);
    transition-duration: 0.3s;
  }
}

.button--upload {
  @include button-oval;
  color: $menu-color-active;
  border-color: $menu-color-active;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    background-color: $menu-color-active;
    color: $menu-color;
    transition-duration: 0.3s;
  }

  &:active {
    background-color: $menu-color-active;
    color: hsl(0, 0%, 100%, 0.3);
    transition-duration: 0.5s;
  }

  @media (min-width: $tablet) {
    width: 260px;
  }

  @media (min-width: $desktop) {
    width: 183px;

    &:last-child {
      margin-left: 22px;
    }

    &:first-child {
      margin-right: 22px;
    }
  }
}

.button--upload:disabled {
  color: hsl(211, 27%, 21%, 0.1);
  border-color: hsl(211, 27%, 21%, 0.1);

  &:hover {
    background-color: transparent;
    color: hsl(211, 27%, 21%, 0.3);
    border-color: hsl(211, 27%, 21%, 0.3);
  }

  &:active {
    color: hsl(0, 0%, 100%, 0.3);
    background-color: hsl(211, 27%, 21%, 0.3);
    border-color: transparent;
  }
}
