.button {
  @include font-options(18px, 30px, 700, $menu-color);
  text-transform: uppercase;
  width: 276px;
  height: 59px;
  background-color: $form-button-color;
  border: 2px solid $form-button-color;
  border-radius: 1px;
}

.button--download {
  @include font-options(18px, 18px, 700, $menu-color);
  background-color: hsl(213, 26%, 15%);
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  border: 3px solid $menu-color;
  border-radius: 29px;
}

.button--upload {
  @include font-options(18px, 18px, 700, $menu-color-active);
  background-color: $input-color;
  text-transform: capitalize;
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  border: 3px solid $menu-color-active;
  border-radius: 29px;

  @media (min-width: $desktop) {
    width: 183px;

    &:last-child {
      margin-left: 22px;
    }

    &:first-child {
      margin-right: 22px;
    }
  }
}

.button--upload:disabled {
  color: $slider-color;
  border: 3px solid $slider-color;
  opacity: 0.1;
}
