.download-app {
  background-color: hsl(213, 26%, 15%);
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-2x.jpg");
    background-size: 100% 63%;
  }

  @media (min-width: $tablet) {
    background-image: url("../img/back-tablet.jpg");
    height: 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-2x.jpg");
      background-size: 100% auto;
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/back-desktop.jpg");
    height: 853px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop-2x.jpg");
      background-size: cover;
    }
  }
}

.download-app__container {
  position: relative;
  padding-top: 66px;
  display: grid;
  grid-template-columns: auto minmax(auto, 280px) auto;
  grid-template-rows: repeat(5, auto);

  @media (min-width: $tablet) {
    grid-template-columns: auto minmax(auto, 300px) minmax(auto, 400px) auto;
    padding-top: 202px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: auto minmax(auto, 300px) minmax(auto, 640px) auto;
    padding-top: 207px;
  }
}

.download-app__image {
  grid-column-start: 2;
  grid-column-end: 3;
  position: absolute;
  top: 175px;
  left: -20px;

  @media (min-width: $tablet) {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    top: 184px;
    left: -159px;
  }

  @media (min-width: $desktop) {
    padding-top: 24px;
    left: 41px;
  }
}

.download-app__slogan {
  grid-column-start: 2;
  grid-column-end: 3;

  @include font-options(24px, 29px, 300, $menu-color);
  text-align: center;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 320px;
  order: 1;

  @media (min-width: $tablet) {
    @include font-options(40px, 48px, 300, $menu-color);

    padding: 2px;
    z-index: 2;
  }

  @media (min-width: $desktop) {
    @include font-options(50px, 68px, 300, $menu-color);
  }
}

.download-app__button {
  grid-column-start: 2;
  grid-column-end: 3;
  order: 3;
  align-self: flex-end;
  margin-top: 23px;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    width: 300px;
    margin-top: 28px;
    margin-bottom: 46px;
    z-index: 2;
  }

  @media (min-width: $desktop) {
    margin-top: 34px;
    margin-bottom: 70px;

    @include font-options(21px, 18px, bold, $menu-color);
  }
}

.download-app__list {
  grid-column-start: 2;
  grid-column-end: 3;
  order: 4;
  margin: 0 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet) {
    justify-content: space-evenly;
    z-index: 2;
    margin: 0 12px;
  }
}

.download-app__description {
  grid-column-start: 2;
  grid-column-end: 3;
  order: 5;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 33px;

  @include font-options(14px, 24px, 300, $menu-color);
  text-align: center;

  @media (min-width: $tablet) {
    @include font-options(18px, 24px, 300, $menu-color);

    z-index: 2;
    padding-top: 27px;
  }

  @media (min-width: $desktop) {
    padding-top: 45px;
  }
}
