.filter {
  background-color: hsl(0, 0%, 95%);

  @media (min-width: $tablet) {
    background-color: $menu-color;
  }
}

.filter__border {
  @media (min-width: $tablet) {
    border: 2px solid $input-color;
    border-radius: $radius;
    margin-top: 67px;
  }

  @media (min-width: $desktop) {
    margin-top: 65px;
  }
}

.filter__container {
  border: 0 none;
  padding: 0 22px;
  margin: 0;

  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-left: 60px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 10px;
  }
}

.filter__legend {
  display: none;
}

.filter__title {
  @include colored-text;
  text-align: center;
  margin: 0 auto;
  padding: 38px 20px 42px 20px;
  width: 218px;

  @media (min-width: $tablet) {
    margin: 0 auto;
    padding: 0 25px;
    width: 375px;
    position: relative;
    top: -11px;
    left: 0;
    background-color: $menu-color;
  }
}

.filter__list {
  @include desctop-text;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop) {
    margin: 0 auto;
    display: grid;
    grid-template: minmax(80px, 1fr) minmax(80px, 1fr) / 1fr 1fr 1fr;
    column-gap: 50px;
  }
}

.filter__item {
  padding-top: 52px;
  padding-left: 57px;

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}

.filter__item:first-child {
  padding-top: 0;
}

.filter__item:last-child {
  padding-bottom: 46px;
}

.filter__input {
  appearance: none;
  position: absolute;
  outline: none;
  cursor: pointer;
}

.filter__checkbox {
  cursor: pointer;
}

.filter__checkbox::before {
  content: "";
  position: absolute;
  display: block;
  margin-left: -58px;
  margin-top: -5px;
  width: 35px;
  height: 35px;
  border: 2px solid $input-color;
  border-radius: $radius;
  background-color: $menu-color;
}

.filter__checkbox:hover::before {
  border: 2px solid $slider-color;
}

.filter__input:checked + .filter__checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7001 0.284331C21.5105 0.102082 21.2557 0 20.9903 0C20.7249 0 20.47 0.102082 20.2805 0.284331L6.70324 13.6028L1.73472 8.72901C1.64045 8.63578 1.52831 8.56178 1.40474 8.51128C1.28118 8.46079 1.14865 8.43479 1.01479 8.43479C0.88093 8.43479 0.748397 8.46079 0.624833 8.51128C0.50127 8.56178 0.389122 8.63578 0.294859 8.72901C0.106004 8.91537 0 9.16747 0 9.43024C0 9.69302 0.106004 9.94512 0.294859 10.1315L5.98331 15.7115C6.07806 15.8037 6.19042 15.8767 6.31396 15.9262C6.4375 15.9756 6.56979 16.0007 6.70324 16C6.96925 15.9989 7.22416 15.8953 7.41303 15.7115L21.7001 1.69675C21.7951 1.60428 21.8705 1.49427 21.922 1.37306C21.9735 1.25186 22 1.12185 22 0.990541C22 0.859234 21.9735 0.729226 21.922 0.608017C21.8705 0.486809 21.7951 0.376798 21.7001 0.284331Z' fill='%23D22856'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter__input:focus + .filter__checkbox::before {
  border: 2px solid $menu-color-active;
}
