.filter {
  background-color: hsl(0, 0%, 95%);
}

.filter fieldset {
  border: 0 none;
}

.filter__title {
  @include colored-text;
  text-align: center;
  margin: 0;
  padding: 42px 20px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include desctop-text;
}

.filter__item:last-child {
  padding-bottom: 42px;
}
