.footer {
  width: 100%;
  height: 284px;
  box-sizing: border-box;
  padding: 36px 20px;
  background-color: $menu-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    height: 127px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    height: 197px;
    align-self: center;
    max-width: 1200px;
    padding: 0 130px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2px;
}
