.form {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    max-width: 940px;
    margin: 0 auto;
  }
}

.form--error.required {
  border: 2px solid $menu-color-active;
}

.form__purpose {
  @include mobile-text;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 44px 20px 41px 20px;

  @media (min-width: $tablet) {
    @include desctop-text;
    width: 490px;
    order: 1;
    padding: 91px 20px 72px 20px;
  }

  @media (min-width: $desktop) {
    width: 756px;
    grid-column: span 2;
    padding-bottom: 79px;
  }
}

.form__purpose::after {
  @media (min-width: $tablet) {
    content: " Пожалуйста, заполните форму ниже:";
  }
}

.form__user-name {
  padding: 0 20px;

  @media (min-width: $tablet) {
    order: 2;
  }

  @media (min-width: $desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 5px 35px 0 0;
  }
}

.form__filter {
  @media (min-width: $tablet) {
    order: 5;
    margin: 0 20px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
    margin: 0;
  }
}

.form__user-contacts {
  @media (min-width: $tablet) {
    order: 4;
    margin: 0 20px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
    margin: 0;
  }
}

.form__radio {
  @media (min-width: $tablet) {
    order: 3;
  }

  @media (min-width: $desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
  }
}

.form__field {
  margin: 38px 22px 0 22px;

  @media (min-width: $tablet) {
    order: 6;
    margin-top: 70px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
    margin: 69px 0 0 0;
  }
}

.form__submit {
  padding: 49px 22px 3px 22px;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    order: 7;
    padding-top: 46px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
    padding: 68px 0 0 0;
  }
}

.form__note {
  @include mobile-text;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 17px;

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__note sup {
  color: $menu-color-active;

  @media (min-width: $desktop) {
    font-size: 14px;
  }
}

.form__note span {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}
