.form-field__border {
  @media (min-width: $tablet) {
    border: 2px solid $input-color;
    border-radius: $radius;
    padding: 23px 60px 53px 60px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    padding: 18px 60px 45px 60px;
  }
}

.form-field__title {
  @include colored-text;
  margin: 0;
  padding-bottom: 16px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 25px;
    display: inline;
    position: relative;
    top: -35px;
    left: calc(50% - 130px);
    background-color: $menu-color;
  }

  @media (min-width: $desktop) {
    top: -32px;
  }
}

.form-field__container {
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.form-field__comment {
  @include desctop-text;
  outline: none;
  resize: none;
  border: 2px solid $input-color;
  padding-top: 16px;
  padding-left: 20px;

  &:hover {
    border-color: $slider-color;
  }

  &:active {
    border-color: $menu-color-active;
  }

  @media (min-width: $tablet) {
    margin: 0 auto;
    width: 470px;
    height: 171px;
  }

  @media (min-width: $desktop) {
    width: 790px;
    height: 106px;
  }
}

.form-field__comment::placeholder {
  @include desctop-text;
}
