.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.gallery__item {
  background-color: $input-color;
  justify-content: center;
  align-self: center;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    width: 300px;
  }
}

.gallery__item:nth-child(2n) {
  @media (min-width: $tablet) {
    margin-left: calc((100vw - 620px) / 2);
    margin-right: 20px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.gallery__item:nth-child(3n - 1) {
  @media (min-width: $desktop) {
    margin-left: calc((100vw - 940px) / 2);
  }
}

.gallery__item:nth-child(3n-3) {
  @media (min-width: $desktop) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.gallery__item--panorama {
  background-color: transparent;
  position: relative;
  width: 320px;
  justify-self: center;
  margin: 20px auto;

  @media (min-width: $tablet) {
    width: 660px;
    height: 630px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
  }
}

.gallery__item--panorama::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 137px;
  left: calc(50% - 140px);
  display: block;
  background-color: $input-color;
  min-width: 280px;
  min-height: 192px;

  @media (min-width: $tablet) {
    width: 620px;
    min-height: 121px;
    top: 509px;
    left: calc(50% - 310px);
  }

  @media (min-width: $desktop) {
    width: 940px;
    min-height: 96px;
    top: 506px;
    left: calc(50% - 470px);
  }
}
