.gallery-page {
  font-family: $ff;
}

.gallery-page__top {
  background-image: url("../../img/back-mobile.jpg");
  background-color: $slider-color;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  top: -66px;
  z-index: -1;
  width: 100%;
  height: 237px;

  @media (min-width: $tablet) {
    top: -110px;
    height: 440px;
  }

  @media (min-width: $desktop) {
    height: 394px;
  }
}

.gallery-page__title {
  @include font-options(24px, 32px, lighter, $menu-color);
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 102px 40px 84px 40px;

  @media (min-width: $tablet) {
    @include font-options(50px, 68px, lighter, $menu-color);
    padding: 191px 151px 143px 151px;
  }

  @media (min-width: $desktop) {
    @include font-options(50px, 68px, lighter, $menu-color);
    padding: 184px 422px 104px 422px;
  }
}

.gallery-page__appeal {
  @include mobile-text;
  text-align: center;
  line-height: 30px;
  margin: 0;
  padding: 0 40px 60px 40px;
}

.gallery-page__photo {
  box-sizing: border-box;
}
