.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.gallery__item {
  background-color: $tabel-back;
  justify-content: center;
  align-self: center;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    width: 300px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 53px;
  }
}

.gallery__item:nth-child(2n) {
  @media (min-width: $tablet) {
    margin-left: calc((100vw - 620px) / 2);
    margin-right: 20px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.gallery__item:nth-child(3n - 1) {
  @media (min-width: $desktop) {
    margin-left: calc((100vw - 940px) / 2);
  }
}

.gallery__item:nth-child(3n-3) {
  @media (min-width: $desktop) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.gallery__item--panorama {
  background-color: transparent;
  position: relative;
  width: 320px;
  justify-self: center;
  margin: 20px auto;

  @media (min-width: $tablet) {
    width: 660px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
  }
}
