.header {
  background-color: hsl(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  box-sizing: border-box;
  z-index: 100;
  padding: 0 20px;

  @media (min-width: $tablet) {
    height: 110px;
  }

  @media (min-width: $desktop) {
    padding: 0 130px;
  }
}
