.header {
  position: absolute;
  background-color: hsl(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  box-sizing: border-box;
  z-index: 100;
  padding: 0 20px;
  border-bottom: 1px solid transparent;


  @media (min-width: $tablet) {
    height: 110px;
  }

  @media (min-width: $desktop) {
    max-width: 1200px;
    background-color: transparent;
    align-self: center;
    padding: 0 130px;
  }
}

.header::before,
.header::after {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: hsl(0, 0%, 0%, 0.5);
    width: 100vw;
    z-index: -1;
  }
}

.header::before {
  @media (min-width: $desktop) {
    left: calc((100vw - 1200px / 2) * -1);
  }
}

.header::after {
  @media (min-width: $desktop) {
    right: calc((100vw - 1200px / 2) * -1);
  }
}

.header.header--active {
  background-color: $slider-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 0 hsl(0, 0%, 0%);
}
