.logo {
  fill: $menu-color;
  color: $menu-color;
  padding-top: 3px;

  &:hover {
    fill: $menu-color-active;
    color: $menu-color-active;
  }

  &:active {
    fill: hsl(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%, 0.3);
  }

  @media (min-width: $tablet) {
    padding-bottom: 10px;
  }
}

.logo--small {
  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.logo--middle {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.logo--big {
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.logo__footer-middle {
  fill: $slider-color;
  color: $menu-color-active;

  &:hover {
    fill: $menu-color-active;
  }

  &:active {
    fill: hsl(211, 27%, 21%, 0.3);
    color: hsl(344, 68%, 49%, 0.3);
  }

  @media (min-width: $tablet) {
    margin-top: -10px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.logo__footer-big {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-bottom: 13px;
    fill: $slider-color;
    color: $menu-color-active;

    &:hover {
      fill: $menu-color-active;
    }

    &:active {
      fill: hsl(211, 27%, 21%, 0.3);
      color: hsl(344, 68%, 49%, 0.3);
    }
  }
}
