.logo {
  fill: $menu-color;
  color: $menu-color;

  &:hover {
    fill: $menu-color-active;
    color: $menu-color-active;
  }

  &:active {
    fill: hsl(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%, 0.3);
  }

  &--middle {
    display: none;
  }

  &--big {
    display: none;
  }

  @media (min-width: $tablet) {
    &--small {
      display: none;
    }

    &--middle {
      display: block;
    }

    &--big {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    &--small {
      display: none;
    }

    &--middle {
      display: none;
    }

    &--big {
      display: block;
    }
  }
}

.logo__footer-glass {
  fill: $slider-color;
  color: $menu-color-active;

  &:hover {
    fill: $menu-color-active;
  }

  &:active {
    fill: hsl(211, 27%, 21%, 0.3);
    color: hsl(344, 68%, 49%, 0.3);
  }
}
