.logo {
  color: $menu-color;

  &:hover {
    color: $menu-color-active;
  }

  &:active {
    color: $menu-color;
    opacity: 0.3;
  }

  &--middle {
    display: none;
  }

  &--big {
    display: none;
  }

  @media (min-width: $tablet) {
    &--small {
      display: none;
    }

    &--middle {
      display: block;
    }

    &--big {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    &--small {
      display: none;
    }

    &--middle {
      display: none;
    }

    &--big {
      display: block;
    }
  }
}
