.main {
  font-family: $ff;
  position: relative;
  top: -132px;

  @media (min-width: $tablet) {
    top: -198px;
  }
}

.main__download-app {
  box-sizing: border-box;
  padding: 0 20px;
}

.main__advantages {
  box-sizing: border-box;
}

.main__research {
  box-sizing: border-box;
}

.main__reviews {
  box-sizing: border-box;
}

.main__rate {
  box-sizing: border-box;
  padding: 100px 0;
}

.main__feedback {
  box-sizing: border-box;
}
