.page {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page--menu {
  overflow: hidden;
}

.page__main {
  flex: 1 1 auto;

  @media (min-width: $desktop) {
    position: relative;
  }
}

.page__main::before {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    height: 110px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 0.3);
  }
}
