.photo {
  padding-left: 17px;
}

.photo__author {
  @include mobile-text;
  font-weight: 700;
  padding-top: 12px;
  margin: 0;
}

.photo__posting-time {
  @include font-options(12px, 24px, lighter, $slider-color);
  text-transform: uppercase;
  margin: 0;
}

.photo__comment {
  @include mobile-text;
  margin: 0;
  padding-top: 7px;
}

.photo__like {
  @include font-options(12px, 24px, lighter, $menu-color-active);
  text-transform: uppercase;
  margin: 0;
  padding: 12px 0 12px 48px;
}
