.popup-confirm {
  box-sizing: border-box;
  text-align: center;
}

.popup-confirm__title {
  @include mobile-title;
  margin: 0;
  padding-bottom: 25px;
}

.popup-confirm__message {
  @include mobile-text;
  margin: 0;
  padding: 0 20px 41px 20px;
}

.popup-confirm__button {
  width: 100%;
  height: 163px;
  background-color: $input-color;
  box-sizing: border-box;
  padding: 52px 22px;
}
