.radio-device {
  background-color: $input-color;
  padding: 42px 20px;
}

.radio-device__title {
  @include colored-text;
  margin: 0 0 34px 0;
  text-align: center;
}

.radio-device__container {
  border: none;
  margin: 0;
  padding: 0;
}

.radio-device__legend {
  display: none;
}

.radio-device__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radio-device__item {
  @include desctop-text;
}

@media (min-width: $tablet) {
  .radio-device {
    background-color: $menu-color;
  }

  .radio-device__legend {
    display: block;
  }
}
