.rate {
  width: 100%;
  background-color: $tabel-back;
  position: relative;
  top: 3px;
  padding-top: 104px;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    top: 6px;
    padding: 99px 20px 69px;
  }

  @media (min-width: $desktop) {
    padding: 157px 130px 92px;
  }
}

.rate::before {
  content: "";
  width: 100%;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 100%, 0 0, 100% 0);
  background-color: $menu-color;

  @media (min-width: $tablet) {
    height: 41px;
  }

  @media (min-width: $desktop) {
    height: 100px;
  }
}

.rate__container {
  background: linear-gradient(
  to bottom,
  $slider-color 0 98px,
  $menu-color 98px 157px,
  $input-color 157px 159px,
  $menu-color 159px 218px,
  $input-color 218px 220px,
  $menu-color 220px 279px,
  $input-color 279px 500px);

  @media (min-width: $tablet) {
    background: $tabel-back;
  }

  @media (min-width: $desktop) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.rate__toggles {
  background-color: $tabel-back;
  text-align: center;
  margin: 0;
  padding: 31px 15px 31px 0;

  @media (min-width: $tablet) {
    display: none;
  }
}
