.research {
  width: 100%;
  height: 380px;
  background-image: url("../../img/research_clock.svg");
  background-repeat: no-repeat;
}

.research__container {
  width: 290px;
}

.research__title {
  @include desctop-title;
}

.research__description {
  @include mobile-text;
}

.research__link {
  @include font-options(14px, 24px, normal, $menu-color-active);
}
