.reviews__container {
  width: 100%;
  height: 300px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__user {
  width: 280px;

  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reviews__user > small {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.reviews__user-nickname {
  @include mobile-title;
  display: block;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

.reviews__user-info {
  display: block;
  text-align: center;

  @include font-options(14px, 30px, normal, hsl(211, 27%, 21%));
}

.reviews__text {
  @include mobile-text;
  line-height: 30px;
  text-align: center;
}

.reviews__previous,
.reviews__next {
  display: none;
}

.reviews__toggles {
  text-align: center;
}

@media (min-width: $tablet) {
  .reviews__user-nickname {
    order: 2;
  }

  .reviews__user-info {
    order: 3;
  }

  .reviews__text {
    order: 1;
  }
}

@media (min-width: $desktop) {
  .reviews__previous,
  .reviews__next {
    display: block;
  }

  .reviews__previous {
    position: absolute;
    top: 50%;
    left: 130px;

    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-top: 1px solid hsl(211, 27%, 21%, 0.3);
    border-right: 1px solid hsl(211, 27%, 21%, 0.3);
    margin-right: 60px;
    background-color: transparent;
    transform: rotate(-135deg);
    cursor: pointer;

    &:hover {
      border-top: 1px solid hsl(211, 27%, 21%, 0.6);
      border-right: 1px solid hsl(211, 27%, 21%, 0.6);
    }

    &:active {
      border-top: 1px solid hsl(211, 27%, 21%, 0.1);
      border-right: 1px solid hsl(211, 27%, 21%, 0.1);
    }
  }

  .reviews__list {
    position: relative;
  }

  .reviews__next {
    position: absolute;
    top: 50%;
    right: 150px;

    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-top: 1px solid hsl(211, 27%, 21%, 0.3);
    border-right: 1px solid hsl(211, 27%, 21%, 0.3);
    margin-right: 60px;
    background-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
      border-top: 1px solid hsl(211, 27%, 21%, 0.6);
      border-right: 1px solid hsl(211, 27%, 21%, 0.6);
    }

    &:active {
      border-top: 1px solid hsl(211, 27%, 21%, 0.1);
      border-right: 1px solid hsl(211, 27%, 21%, 0.1);
    }
  }

  .slider__toggle {
    display: none;
  }
}
