.slider {
  background-color: $menu-color;
}

.slider__toggle {
  border-radius: 3px;
  width: 6px;
  height: 6px;
  border: none;
  background-color: hsl(211, 27%, 21%, 0.3);
  padding: 0;
  margin-left: 19px;

  &:hover {
    background-color: hsl(211, 27%, 21%, 0.6);
  }

  &:active {
    background-color: hsl(211, 27%, 21%, 0.1);
  }
}

.slider__toggle--current {
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 3px;
  background-color: $menu-color;
  outline: 3px solid $slider-color;
}
