.user-contacts fieldset {
  border: none;
}

.user-contacts__info {
  display: flex;
  flex-direction: column-reverse;
}

.user-contacts__info > .user-info__label {
  padding-top: 14px;
  padding-left: 20px;
}

.user-contacts__border {
  @media (min-width: $tablet) {
    border: 2px solid $input-color;
    border-radius: $radius;
  }
}

.user-contacts__container {
  padding: 11px 22px 0 22px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
  }
}

.user-contacts__title {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    margin: 0;
    position: relative;
    top: -13px;
    padding: 0 25px;
    left: calc(50% - 130px);
    background-color: $menu-color;

    @include colored-text;
  }
}

.user-contacts__phone,
.user-contacts__mail {
  position: relative;
}

.user-contacts__phone::after,
.user-contacts__mail::after {
  @media (min-width: $tablet) {
    content: "";
    width: 59px;
    height: 61px;
    display: block;
    background-color: $input-color;
    position: absolute;
    top: 2px;
    right: 46px;
  }

  @media (min-width: $desktop) {
    left: 338px;
  }
}
