.user-contacts fieldset {
  border: none;
}

.user-contacts__info {
  display: flex;
  flex-direction: column-reverse;
}

.user-contacts__info > .user-info__label {
  padding-top: 14px;
  padding-left: 20px;
}

.user-contacts__border {
  @media (min-width: $tablet) {
    border: 2px solid $input-color;
    border-radius: $radius;
  }

  @media (min-width: $desktop) {

  }
}

.user-contacts__container {
  padding: 11px 22px 0 22px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
  }
}

.user-contacts__title {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    margin: 0;
    position: relative;
    top: -13px;
    padding: 0 25px;
    left: calc(50% - 130px);
    background-color: $menu-color;

    @include colored-text;
  }

  @media (min-width: $desktop) {

  }
}

.user-contacts__phone::after {
  @media (min-width: $tablet) {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.04 0C6.465 0 2.908.608 1.583 1.815a6.392 6.392 0 0 0-1.58 3.892c-.003.055-.003.11 0 .164 0 .21.088.412.245.56a.86.86 0 0 0 .591.232l3.24-.25h.082a.865.865 0 0 0 .581-.237.78.78 0 0 0 .176-.256.746.746 0 0 0 .059-.3V4.046a.83.83 0 0 1 .067-.335.867.867 0 0 1 .198-.286.922.922 0 0 1 .299-.19.961.961 0 0 1 .353-.068h8.153c.246 0 .482.093.656.258a.856.856 0 0 1 .271.621v1.555a.77.77 0 0 0 .238.553c.152.148.36.234.578.239h.091l3.282.251a.876.876 0 0 0 .59-.232.79.79 0 0 0 .182-.257.756.756 0 0 0 .064-.303 1.45 1.45 0 0 0 0-.164 6.455 6.455 0 0 0-1.56-3.863C17.195.608 13.618 0 10.041 0Zm0 10.304c-.33 0-.653.093-.928.267-.275.174-.489.421-.615.71-.127.29-.16.608-.095.916.064.307.223.59.457.81.234.222.531.373.856.434.324.061.66.03.965-.09.306-.12.567-.323.75-.583a1.526 1.526 0 0 0-.204-2.003 1.669 1.669 0 0 0-.544-.343 1.742 1.742 0 0 0-.641-.118ZM8.788 6.76v-.966a.94.94 0 0 0-.298-.683 1.048 1.048 0 0 0-.72-.283c-.271 0-.53.102-.722.283a.94.94 0 0 0-.298.683v.966l-5.728 5.688a1.932 1.932 0 0 0-.471.647 1.843 1.843 0 0 0-.16.772v1.584c0 .421.175.825.488 1.123a1.73 1.73 0 0 0 1.183.47h.418v.966c0 .13.027.259.08.379.052.12.129.23.226.321.097.092.212.165.339.215a1.096 1.096 0 0 0 1.138-.215.988.988 0 0 0 .227-.321.945.945 0 0 0 .079-.379v-.966h10.905v.966c0 .263.11.514.306.7.196.186.461.29.738.29.277 0 .543-.104.739-.29a.964.964 0 0 0 .306-.7v-.966h.418c.22 0 .438-.04.642-.121.203-.08.388-.198.543-.346a1.58 1.58 0 0 0 .362-.517c.083-.193.125-.4.124-.609v-1.584a1.844 1.844 0 0 0-.155-.77 1.933 1.933 0 0 0-.466-.65L13.382 6.76v-.966a.964.964 0 0 0-.305-.7 1.075 1.075 0 0 0-.74-.29c-.276 0-.542.105-.738.29a.964.964 0 0 0-.306.7v.966H8.787Zm1.254 1.931c.66 0 1.307.186 1.857.534.55.348.978.843 1.231 1.422.253.578.32 1.215.19 1.83a3.12 3.12 0 0 1-.915 1.621 3.403 3.403 0 0 1-1.711.867c-.649.123-1.32.06-1.931-.18a3.312 3.312 0 0 1-1.5-1.167 3.05 3.05 0 0 1-.564-1.76c0-.84.352-1.645.98-2.239a3.439 3.439 0 0 1 2.363-.928Z' fill='%23D22856'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    display: block;
    position: relative;
    top: 42px;
    left: 93%;
  }

  @media (min-width: $desktop) {
    left: 90%;
  }
}

.user-contacts__mail::after {
  @media (min-width: $tablet) {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.91 1.68c1.2-.928.91-1.68-.65-1.68H3.73c-1.56 0-1.85.761-.66 1.68l3.75 2.898c.621.45 1.387.696 2.175.696.788 0 1.554-.245 2.175-.696l3.74-2.897Z' fill='%23D22856'/%3E%3Cpath d='M11.91 6.5 9.7 8.246a1.13 1.13 0 0 1-.26.111l-.1.047c-.109.042-.223.07-.34.083l-.33-.056-.12-.074a1.183 1.183 0 0 1-.24-.13L6.08 6.5l-3.9-2.971C1 2.6 0 3.027 0 4.476v5.859c-.003.347.069.692.21 1.014.14.322.348.615.61.863.263.247.576.444.92.58A3.04 3.04 0 0 0 2.83 13h12.32c.376 0 .748-.07 1.095-.203.347-.134.662-.331.927-.579.265-.247.475-.541.617-.865.142-.323.214-.669.211-1.018v-5.86c0-1.448-1-1.856-2.18-.928L11.91 6.5Z' fill='%23D22856'/%3E%3C/svg%3E%0A");
    width: 20px;
    background-repeat: no-repeat;
    height: 13px;
    display: block;
    position: relative;
    top: 39px;
    left: 93%;
  }

  @media (min-width: $desktop) {
    left: 90%;
  }
}
