.user-info__input {
  @include font-options(18px, 30px, normal, $slider-color);
  width: calc(100% - 56px / 2);
  height: 59px;
  border: 2px solid $input-color;
  border-radius: $radius;
  padding-left: 22px;
  outline: none;

  &:hover {
    border: 2px solid $slider-color;
  }

  &:focus {
    border: 2px solid $menu-color-active;
  }
}

.user-info__input::placeholder {
  @include font-options(18px, 30px, normal, $slider-color);
}

.user-info__label {
  @include colored-text;
  display: block;
  padding-bottom: 17px;
}
