.user-info {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.user-info__input {
  @include font-options(18px, 30px, normal, $slider-color);
  width: calc(100% - 56px / 2);
  height: 59px;
  border: 2px solid $input-color;
  border-radius: $radius;
  padding-left: 22px;
  outline: none;

  &:hover {
    border: 2px solid $slider-color;
  }

  &:focus {
    border: 2px solid $menu-color-active;
  }
}

.user-info__input::-webkit-input-placeholder,
.user-info__input::-moz-input-placeholder,
.user-info__input::-ms-input-placeholder {
  @include font-options(18px, 30px, 400, $slider-color);
}

.user-info__label {
  @include colored-text;
  display: block;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    padding-right: 20px;
  }
}

.user-info__input--icon {
  @media (min-width: $tablet) {
    width: 426px;
    position: relative;
    padding-right: 72px;
  }

  @media (min-width: $desktop) {
    width: 303px;
    padding-right: 70px;
  }
}

.user-info__phone,
.user-info__mail {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    z-index: 5;
  }
}

.user-info__phone {
  @media (min-width: $tablet) {
    top: 23px;
    right: 63px;
  }

  @media (min-width: $desktop) {
    right: 29px;
  }
}

.user-info__mail {
  @media (min-width: $tablet) {
    top: 25px;
    right: 65px;
  }

  @media (min-width: $desktop) {
    right: 29px;
  }
}
