.user-name {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    padding-bottom: 69px;
  }
}

.user-name__info {
  @media (min-width: $desktop) {
    margin: 0;
  }
}

.user-name__info:nth-child(3) {
  @media (min-width: $desktop) {
    padding: 54px 0;
  }
}

.user-name__info:last-child {
  padding-bottom: 44px;

  @media (min-width: $desktop) {
    padding: 0;
  }
}
