.user-contacts fieldset {
  border: none;
}

.user-contacts__info {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $tablet) {
    flex-direction: column-reverse;
  }
}

.user-contacts__info > .user-info__label {
  padding-top: 12px;
  padding-left: 24px;

  @media (min-width: $tablet) {
    padding-top: 13px;
    padding-left: 19px;
  }
}

.user-contacts__border {
  @media (min-width: $tablet) {
    border: 2px solid $input-color;
    border-radius: $radius;
  }
}

.user-contacts__container {
  padding: 27px 18px 40px 18px;

  @media (min-width: $tablet) {
    padding: 21px 0 23px 56px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 46px;
    padding: 0 30px 12px 55px;
  }
}

.user-contacts__title {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    margin: 0;
    position: relative;
    top: -13px;
    padding: 0 25px;
    left: calc(50% - 130px);
    background-color: $menu-color;

    @include colored-text;
  }
}

.user-contacts__phone,
.user-contacts__mail {
  position: relative;
}

.user-contacts__mail {
  padding-top: 10px;

  @media (min-width: $tablet) {
    padding-top: 28px;
  }

  @media (min-width: $desktop) {
    padding-top: 19px;
  }
}

.user-contacts__phone::after,
.user-contacts__mail::after {
  @media (min-width: $tablet) {
    content: "";
    width: 59px;
    height: 61px;
    display: block;
    background-color: $input-color;
    position: absolute;
    top: 2px;
    right: 57px;
  }

  @media (min-width: $desktop) {
    left: 316px;
  }
}

.user-contacts__mail::after {
  @media (min-width: $tablet) {
    top: 30px;
  }

  @media (min-width: $desktop) {
    top: 21px;
  }
}

.user-contacts__phone::after {
  @media (min-width: $desktop) {
    top: 21px;
  }
}
