
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"), url("/fonts/opensans.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("/fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff") format("woff"), url("/fonts/opensanslight.woff2") format("woff2");
  font-weight: lighter;
}

@mixin mobile-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14;
  color: #283645;
}

@mixin desctop-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18;
  color: #283645;
}

@mixin mobile-title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18;
  color: #000000;
}

@mixin desctop-title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30;
  color: #000000;
}

@mixin colored-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14;
  color: #d22856;
  text-transform: uppercase;
}

@mixin font-options($size, $weigt, $color) {
  font-size: $size;
  font-weight: $weigt;
  color: $color;
}
